<div class="modal-container">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  {{ fields | json }}

  <div *ngIf="!editfield" class="list-content">
      <ion-list>
      <ion-item-sliding #s *ngFor="let field of fields; let idx = index">
        <ion-item detail lines="full" (click)="edit(idx)">
          {{field.key}} {{field.value}}
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="s.close(); edit(idx)">EDIT</ion-item-option>
          <ion-item-option color="primary" (click)="s.close(); duplicate(item)">COPY</ion-item-option>
          <ion-item-option color="danger"  (click)="s.close(); delete(idx)">DELETE</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>


  <div *ngIf="editfield" class="field-content">
    <p> Edit field </p>

    <ion-label>{{selectfield.label}}</ion-label>
    <div [ngSwitch]="selectfield.type">
      <div *ngSwitchCase="'text'">
        <ion-input type="text" [(ngModel)]="selectfield.value" (ngModelChange)="handleFieldChange()"></ion-input>
      </div>

      <!--if creating a new field-->
      <div *ngSwitchCase="'custom'">
        <ion-item>
          <ion-label>Key</ion-label>
          <ion-input type="text" [(ngModel)]="selectfield.key" (ngModelChange)="handleFieldChange()"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Value</ion-label>
          <ion-input type="text" [(ngModel)]="selectfield.value" (ngModelChange)="handleFieldChange()"></ion-input>
        </ion-item>
      </div>

    </div>

    {{!isUniqueValue ? 'Please use a unique value': ''}}

    <ion-button *ngIf="isUniqueValue" (click)="editfield = !editfield">Done</ion-button>
  </div>
</div>
