<p>
  Internal Component Template
</p>

{{items.data.content | json}}

{{markup | json}}

{{ characters | json}}

<p>Markup</p>

<div class="markup_container">
  <div *ngFor="let el of markup; let idx = index">

    {{ el.key }}

    <div [ngSwitch]="el.type">
      <ion-item *ngSwitchCase="'string'">
          <ion-input autocomplete="on" type="text" placeholder="{{el.key}}" [(ngModel)]="el.value" (ngModelChange)="updateElement(el,idx)"></ion-input>
      </ion-item>
      <ion-item *ngSwitchCase="'textarea'">
          <ion-textarea class="markup_textarea"
                        contenteditable="true"
                        autocorrect="on"
                        rows="10"
                        (input)="updateElement(el,idx)"
                        (click)="checkForSmartSuggest($event)">
          </ion-textarea>
      </ion-item>
    </div>

  </div>
</div>

<div class="markup_create">
  <ion-button (click)="createElement('heading')">H</ion-button>
  <ion-button (click)="createElement('character')">C</ion-button>
  <ion-button (click)="createElement('body')">B</ion-button>
  <ion-button (click)="createElement('dialogue')">D</ion-button>
</div>
