<div class="groups_container">
  <!-- <comp-item [collection]="items" [connection]="['internal','items']" (callback)="handleCallback($event)"></comp-item> -->


<ion-toolbar>
  <ion-segment [(ngModel)]="group">
    <ion-segment-button *ngFor="let item of items | keys : [] : change; let idx = index" value="{{item.key}}">
      {{lib.capitalise(item.key + 's')}}
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<!-- <ion-list>
  <ion-item *ngFor="let item of items[group]; let idx = index">{{item}}</ion-item>
</ion-list> -->

<comp-item2 [collection]="group" [items]="items[group]" [model]="'document'" [connection]="['internal','items']" (callback)="handleCallback($event)"></comp-item2>

</div>
